@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Montserrat', sans-serif;
  padding-inline: 10%;
}


.header {
  font-size: 26px;
  font-weight: 500;

  padding-top: 191px;
  background-image: url("assets/Header.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  height: 800px;
}

@media (max-width: 1024px) {
  .header {
    height: 280px;
  }

  .header div.slogan {
    position: absolute;
    top: 80px;
  }
}


div.header div.big {
  display: block;
  margin-left: 50%;
}

div.small {
  display: none;
}

@media (max-width: 1024px) {
  div.header div.big {
    display: none;
  }

  div.small {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;

    margin-bottom: 50px;
  }
}





.topnav {
  @apply bg-white shadow-md flex items-center justify-between py-4;
  font-weight: 700;
  font-size: 20px;
  padding-inline: 70px;
}

.topnav .icon i {
  font-size: 38px;
}


.topnav .icon {
  @apply hidden;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    @apply block ml-auto;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    @apply flex-col items-start;
  }

  .topnav.responsive .icon {
    @apply absolute right-4 top-4;
  }

  .topnav.responsive a {
    @apply block w-full text-left;
  }
}






div.team2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

  font-size: 20px;
  font-weight: 500;
}

div.team2 p {
  font-size: 32px;
  font-weight: 700;
}

div.team2 div.title h1 {
  font-size: 64px;
  font-weight: 700;
}

div.team2 div.title h2 {
  font-size: 70px;
  font-weight: 700;
}


@media (max-width: 1024px) {
  div.team2 {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }

  div.team2 p {
    font-size: 20px;
    font-weight: 700;
  }

  div.team2 h1 {
    font-size: 26px;
  }

  div.team2 h2 {
    font-size: 40px;
  }
}






/*delete later*/
div {
  border: 1px dotted green;
  padding: 1px;
  margin: 0px;
}



.games {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.games>button {
  background-color: #FFD627;
  border: none;
  color: white;
  padding: 15px;
  font-size: 16px;
  width: 349px;
  height: 199px;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 26px
}

.title {
  text-align: center;
}


div.matches2>div.date>p {
  display: inline;
  font-size: 20px;
  font-weight: 500;
}

div.matches2>div.date>h1 {
  display: inline;
  font-size: 20px;
  font-weight: 700;
}

div.matches2 > div.date > img {
   display: inline;
}


/*Logo ikooni ja teksti sama joone peale saamiseks*/
div.matches2>div.mathessisu>div.kast1>img {
  display: inline;
}

div.matches2>div.mathessisu>div.kast1>h1 {
  display: inline;
  font-size: 24px;
  font-weight: 700;
}

div.matches2>div.mathessisu>div.kast2>img {
  display: inline;
}

div.matches2>div.mathessisu>div.kast2>h1 {
  display: inline;
  font-size: 24px;
  font-weight: 700;
}

div.matches2>div.mathessisu>h1 {
  margin-top: 28px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}


div.matches2>div.mathessisu {
  display: grid;
  grid-template-columns: 80px 1fr 50px 80px 1fr;

}

@media (max-width: 1024px) {
  div.matches2>div.date>p {
    font-size: 14px;
    font-weight: 500;
  }

 div.matches2 > div.mathessisu > .teamname {
    font-size: 14px;
    font-weight: 700;
  }


 div.matches2 > div.mathessisu > .result{
    font-size: 15px;
    font-weight: 700;
  }

  div.matches2 > div.mathessisu > .teamname2{
    font-size: 15px;
    font-weight: 700;
  }
}